/* App.css */

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px);
}

.app-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('./assets/cinepulse.png');
  /* Your background image */
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(50px);
}

.app-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('your-background-image.jpg') no-repeat center center/cover;
  filter: blur(10px);
  z-index: -1;
}

/* Blurred Background */
.blurred-background {
  background-image: url('./assets/cinepulse.png');
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
}